<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

    <title>Main Page</title>

</head>
<body>
    
    <main id="maindiv">
        <h1><label for="prompt">login page for hx-response-error</label></h1>
        <h1><a href="/login_prompt" id="prompt">Login page</a></h1><br>
        <h1><label for="swap">login page for hx-target-error</label></h1>
        <h1><a href="/login_swap" id="swap">Login page</a></h1>
    </main>
    

</body>
</html>